<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer class="mt-5 py-3 border-top">
      <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0 text-muted">
            ©2025 Hệ thống quản lý website bán vé xe - Đặng Minh Nghĩa -
            DH5211357 - Saigon Technology University.
          </p>
          <!-- <div>
            <a href="#" class="text-muted me-2">Điều khoản</a>
            <a href="#" class="text-muted">Chính sách</a>
          </div> -->
        </div>
      </div>
    </footer>
  </body>
</html>
