<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-top">
          <!-- <div class="language">
            <select name="" id="">
              <option value="">VIE</option>
              <option value="">ENG</option>
            </select>
          </div> -->
          <!-- <div class="app-download">
            <a href="#">Tải ứng dụng</a>
          </div> -->
          <div class="login-register">
            <div class="before-login">
              <i id="fa-user" class="fas fa-user"></i>
              <a href="/Frontend/pages/dang-nhap.html" id="login-link">
                <strong>Đăng nhập/Đăng ký</strong>
              </a>
            </div>
            <div class="after-login" style="display: none">
              <button id="menu-toggle" class="menu-toggle">
                <img id="user-avatar" src="" alt="Avatar" />
                <span id="user-name"></span>
                <i id="fa-caret-down" class="fas fa-caret-down"></i>
              </button>
              <div id="user-menu" class="user-menu">
                <ul>
                  <li>
                    <a href="./pages/chinh-sua-thong-tin.html"
                      >Chỉnh sửa thông tin</a
                    >
                  </li>
                  <li>
                    <a href="./pages/lich-su-dat-ve.html">Lịch sử đặt vé</a>
                  </li>
                  <li><a href="#" id="logout">Đăng xuất</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="header-main">
          <img
            src="/Frontend/assets/images/logo.png"
            alt="Logo nhà xe Minh Nghĩa"
            class="logo"
          />
          <!-- Menu -->
          <nav class="nav">
            <a href="#">Trang chủ</a>
            <a href="#">Lịch trình</a>
            <a href="#">Tra cứu vé</a>
            <a href="#">Tin tức</a>
            <a href="#">Hóa đơn</a>
            <a href="#">Liên hệ</a>
            <a href="#">Về chúng tôi</a>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>
